# IMPORT THE NECESSARY LIBRARIES

In [ ]:
import re

import warnings
warnings.filterwarnings('ignore')

# Extract the phone numbers from this text

In [ ]:
text = '''
David Benson's phone number is 6533487621. call him if you need any informtion on loan eligibility. 
His Net worth is valued at 30 billion.David CFO's number- (999)-123-1365"
'''
pattern = "\(\d{3}\)-\d{3}-\d{4}|\d{10}"

matches = re.findall(pattern,text)
matches

# Extract titles from text

In [ ]:

text = ''''
Note 1 - Overview
Tesla, Inc. (“Tesla”, the “Company”, “we”, “us” or “our”) was incorporated in the State of Delaware on July 1, 2003. We design, develop, manufacture and sell high-performance fully electric vehicles and design, manufacture, install and sell solar energy generation and energy storage
products. Our Chief Executive Officer, as the chief operating decision maker (“CODM”), organizes our company, manages resource allocations and measures performance among two operating and reportable segments: (i) automotive and (ii) energy generation and storage.
Beginning in the first quarter of 2021, there has been a trend in many parts of the world of increasing availability and administration of vaccines
against COVID-19, as well as an easing of restrictions on social, business, travel and government activities and functions. On the other hand, infection
rates and regulations continue to fluctuate in various regions and there are ongoing global impacts resulting from the pandemic, including challenges
and increases in costs for logistics and supply chains, such as increased port congestion, intermittent supplier delays and a shortfall of semiconductor
supply. We have also previously been affected by temporary manufacturing closures, employment and compensation adjustments and impediments to
administrative activities supporting our product deliveries and deployments.
Note 2 - Summary of Significant Accounting Policies
Unaudited Interim Financial Statements
The consolidated balance sheet as of September 30, 2021, the consolidated statements of operations, the consolidated statements of
comprehensive income, the consolidated statements of redeemable noncontrolling interests and equity for the three and nine months ended September
30, 2021 and 2020 and the consolidated statements of cash flows for the nine months ended September 30, 2021 and 2020, as well as other information
disclosed in the accompanying notes, are unaudited. The consolidated balance sheet as of December 31, 2020 was derived from the audited
consolidated financial statements as of that date. The interim consolidated financial statements and the accompanying notes should be read in
conjunction with the annual consolidated financial statements and the accompanying notes contained in our Annual Report on Form 10-K for the year
ended December 31, 2020.
'''

pattern = "Note \d - ([^\n]*)"

matches = re.findall(pattern,text)
matches

# Extracting financial periods from a company's financial reporting

In [ ]:

text = '''
The gross cost of operating lease vehicles in FY2023 Q1 was $7.65 billion.
In previous quarter i.e. FY2022 Q4 it was $4 billion. 
FY2020 Q5
'''

pattern = "FY\d{4} Q[1-4]"

matches = re.findall(pattern,text)
matches

# If there is a lower case then you can use flags

In [ ]:

text = '''
The gross cost of operating lease vehicles in FY2023 Q1 was $7.65 billion.
In previous quarter i.e. FY2022 Q4 it was $4 billion.
FY2020 Q5
'''

pattern = "FY\d{4} Q[1-4]"

matches = re.findall(pattern,text,flags=re.IGNORECASE)
matches

# Extract only financial numbers

In [ ]:

text = '''
Amaxon's gross cost of operating lease vehicles in FY2023 Q1 was $7.65 billion.
In previous quarter i.e. FY2022 Q4 it was $4 billion.
'''
pattern  = "\$[0-9\.]+"
matches = re.findall(pattern,text)
matches

# Displaying the financial figures without the dollar sign

In [ ]:
pattern = "\$([0-9\.]+)"
matches = re.findall(pattern,text)
matches

# Extract both periods and financial numbers

In [ ]:
text = '''
Amaxon's gross cost of operating lease vehicles in FY2023 Q1 was $7.65 billion.
In previous quarter i.e. FY2022 Q4 it was $4 billion.
'''

pattern = "FY(\d{4} Q[1-4])[^\$]+\$([0-9\.]+)"
matches = re.findall(pattern,text)
matches

# Search method finds the first occurence

In [ ]:
text = '''
Amaxon's gross cost of operating lease vehicles in FY2023 Q1 was $7.65 billion.
In previous quarter i.e. FY2022 Q4 it was $4 billion.
'''

pattern = "FY(\d{4} Q[1-4])[^\$]+\$([0-9\.]+)"
matches = re.search(pattern,text)
matches

In [ ]:
matches.groups()

# Extract all twitter handles from following text.

In [ ]:
 text = '''
Follow my friend Daniel on twitter here: https://twitter.com/dannyboy, more information 
on his products can be found at https://www.dannytech.com/. Also here are leading influencers 
for trade related news,
https://twitter.com/princemoise
https://twitter.com/tunde_bosun
https://twitter.com/theo_7_mint
'''

pattern = "twitter.com\/([A-Za-z_[0-9]+)"
matches = re.findall(pattern,text)
matches

# Extract Concentration Risk Types

In [ ]:
text = '''
Concentration of Risk: Credit Risk
Financial instruments that potentially subject us to a concentration of credit risk consist of cash, cash equivalents, marketable securities,
restricted cash, accounts receivable, convertible note hedges, and interest rate swaps. Our cash balances are primarily invested in money market funds
or on deposit at high credit quality financial institutions in the U.S. These deposits are typically in excess of insured limits. As of September 30, 2021
and December 31, 2020, no entity represented 10% or more of our total accounts receivable balance. The risk of concentration for our convertible note
hedges and interest rate swaps is mitigated by transacting with several highly-rated multinational banks.
Concentration of Risk: Supply Risk
We are dependent on our suppliers, including single source suppliers, and the inability of these suppliers to deliver necessary components of our
products in a timely manner at prices, quality levels and volumes acceptable to us, or our inability to efficiently manage these components from these
suppliers, could have a material adverse effect on our business, prospects, financial condition and operating results.
'''

pattern = "Concentration of Risk: ([^\n]+)"
matches = re.findall(pattern,text)
matches

# Extract Quarterly and Semi Annual periods

In [ ]:
text = '''
Tesla's gross cost of operating lease vehicles in FY2021 Q1 was $4.85 billion.
BMW's gross cost of operating vehicles in FY2021 S1 was $8 billion.
'''
pattern = "FY(\d{4} (?:Q[1-4]|S[1-2]))"
matches = re.findall(pattern,text)
matches

In [ ]:
chat1 = 'user: you ask lot of questions 😠 0903421465, dave@gmail.com'
chat2 = 'user: here it is: (123)-598-1232, rose@yahoo.com'
chat3 = 'user: yes, phone: 3211109081 email: peace@gmail.com'

# Define a function to display the information extracted

In [ ]:
def extract_pattern(pattern,text):
    matches = re.findall(pattern,text)
    if matches:
        return matches[0]

# Extract the phone numbers

In [ ]:
print(extract_pattern("\d{10}|\(\d{3}\)-\d{3}-\d{4}", chat1))
print(extract_pattern("\d{10}|\(\d{3}\)-\d{3}-\d{4}", chat2))
print(extract_pattern("\d{10}|\(\d{3}\)-\d{3}-\d{4}", chat3))

# Extract the email id

In [ ]:
print(extract_pattern("[a-zA-Z0-9]*@[a-zA-Z0-9]*\.com",chat1))
print(extract_pattern("[a-zA-Z0-9]*@[a-zA-Z0-9]*\.com",chat2))
print(extract_pattern("[a-zA-Z0-9]*@[a-zA-Z0-9]*\.com",chat3))

In [ ]:
chat1='user: Hello, I am having an issue with my order #412889912'
chat2='user: I have a problem with my order number 412889912'
chat3='user: My order 412889912 is having an issue, I was charged 300$ when online it says 280$'

# Extract order number

In [ ]:
print(extract_pattern("order [^\d]*(\d*)",chat1))
print(extract_pattern("order [^\d]*(\d*)",chat2))
print(extract_pattern("order [^\d]*(\d*)",chat3))

# Define a function to extract personal information using the Wikipedia format. Store the Information in a Dictionary

In [ ]:
age_pattern = "age (\d+)"
name_pattern = "Born(.*)" 
birth_place_pattern = "Born.*\n.*\n(.*)"
birth_date_pattern = "Born.*\n(.*)\(age"

def extract_information(text):
    name = extract_pattern(name_pattern,text)
    age = extract_pattern(age_pattern,text)
    birth_date = extract_pattern(birth_date_pattern,text)
    birth_place = extract_pattern(birth_place_pattern,text) 
    
    return {
        'Name': name.strip(),
        'Age': int(age),
        'Date of birth': birth_date.strip(),
        'Place of birth': birth_place.strip()
    }

# Extract Information on Elon Musk

In [ ]:
text1='''
Born	Elon Reeve Musk
June 28, 1971 (age 50)
Pretoria, Transvaal, South Africa
Citizenship	
South Africa (1971–present)
Canada (1971–present)
United States (2002–present)
Education	University of Pennsylvania (BS, BA)
Title	
Founder, CEO and Chief Engineer of SpaceX
CEO and product architect of Tesla, Inc.
Founder of The Boring Company and X.com (now part of PayPal)
Co-founder of Neuralink, OpenAI, and Zip2
Spouse(s)	
Justine Wilson
​
​(m. 2000; div. 2008)​
Talulah Riley
​
​(m. 2010; div. 2012)​
​
​(m. 2013; div. 2016)
'''

In [ ]:
extract_information(text1)

# Extract Information on Aliko Dangote

In [ ]:
text2='''
Born	Aliko Dangote
10 April 1957 (age 67)
Kano, British Nigeria
Education	Government College, Birnin Kudu
Alma mater	Al-Azhar University
Occupations	
Businessmanindustrialist
Years active	1977–present
Spouses	
Zainab Dangote
​
​(m. 1977, divorced)​
Mariya Muhammad Rufai
​
​(divorced)​
Children	4, including Halima
Relatives	
Alhassan Dantata (great-grandfather)
Sanusi Dantata (grandfather)
Aminu Dantata (grand-uncle)
Sani Dangote (brother)
'''

In [ ]:
extract_information(text2)

# Extract information on Mukesh Ambani

In [ ]:
text3 = '''
Born	Mukesh Dhirubhai Ambani
19 April 1957 (age 64)
Aden, Colony of Aden
(present-day Yemen)[1][2]
Nationality	Indian
Alma mater	
St. Xavier's College, Mumbai
Institute of Chemical Technology (B.E.)
Stanford University (drop-out)
Occupation	Chairman and MD, Reliance Industries
Spouse(s)	Nita Ambani ​(m. 1985)​[3]
Children	3
Parent(s)	
Dhirubhai Ambani (father)
Kokilaben Ambani (mother)
Relatives	Anil Ambani (brother)
Tina Ambani (sister-in-law)
'''

In [ ]:
extract_information(text3)

# Extract Information on Jeff Bezos

In [ ]:
text4 = '''
Born	Jeffrey Preston Jorgensen
January 12, 1964 (age 60)
Albuquerque, New Mexico, U.S.
Education	Princeton University (BSE)
Occupations	
Businessmanmedia proprietorinvestor
Known for	Founding Amazon
Title	
Founder and executive chairman of Amazon
Founder of Blue Origin
Owner of The Washington Post
Founder of Bezos Expeditions
Executive Chair of Bezos Earth Fund
Founder of Bezos Academy
Spouse	MacKenzie Scott
​
​(m. 1993; div. 2019)​
Partner(s)	Lauren Sánchez
(2019–present; engaged)
Children	4
Parents	
Jackie Bezos (mother)
Ted Jorgensen (father)
Miguel Bezos (stepfather)
Relatives	Mark Bezos (half-brother)[1]
'''

In [ ]:
extract_information(text4)